.review-img{
    background-image: url(./img/reviewbg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
    position: relative;
}
.rating-view{
    background-color: rgb(208, 204, 204);
    height: 350px;
    width: 800px;
    position: absolute;
    top: 100px;
   left: 350px;
   opacity: 0.9;
   

}