/* *{
    margin: 0;
    padding: 0;
} */
.review-img{
    background-image: url(./img/reviewbg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    width: 100;
    /* position: relative; */
    
}
.reviewss-heading{
   text-align: center;
    color: red;
    margin-top: -60px;
    
   
}

/* .added-review-container{
    /* background-color: rgb(208, 204, 204); */
    /* color: black;
    margin-top: 30px;
    height: 280px;
   
    margin-top: 40px;
   opacity: 0.9; */
/* }  */
/* .rating-view{
 
    height: 450px;
    width: 800px;
    position: absolute;
    bottom: 30px;
    color: black;
   left: 400px;
   opacity: 0.9;
}  */
/* .text-center-show-review{
    text-align: center;
    margin: 8px;
    /* background-color: goldenrod; */
    /* position: relative;
    margin-left:30x; */
/* margin-top: 50px;    */
/* border-bottom: 4px double black; */
/* } */ 

 .mapping-reviws{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-bottom: 50px;
   margin-top: -50px;
  
} 

   .flex-contsiner-review{
    /* display: flex; */
    justify-content: space-around;
    flex-direction:column;
    /* flex-wrap: wrap; */
    margin: -20px;
    padding: 20px;
}    
.add-task-form-contaienr{
    display: flex;
    flex-direction: row;
}
.task-input{
    text-align: center;
    width: 230px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    margin-left: 48px;
}
.nameratecls{
    margin-top: 15px;
}
.btn-add-review-list{
background-color: #ff5a56;
color: white;
border-radius: 30px;
padding: 10px;
padding-left: 40px;
padding-right: 40px;
border:none;
display: block;
margin: 35px auto;
}
.btn-add-review-list:hover{
    
  box-shadow: 0 0 3px 1px green;
    border: 2px solid  #ff5a56;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border:none;
    display: block;
    margin: 35px auto;
    }

.progress-bar-review-container{
    height: 200px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
    justify-content:space-evenly;
   }
 /* .progress-bar-review{
    height: 500px;
    width: 200px;
     padding: 10px;
    border-radius: 20px;
    padding-top: 15px;
    margin-top: 10px;
    margin-left: -450px;
    
}   */
.review-input{
    outline: none;
    opacity: 0.5;
    border: none;
    
}
.review-input:hover{
    box-shadow: 0 0 5px 1px green;
    border: none;
}

@media screen  and (max-width: 600px){
    .review-img{
        background-image: url(./img/reviewbg-img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height:100%;
        width: 100%;
        /* position: relative; */
        
    }
    .mapping-reviws{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-right: 30px;
       
     } 
    
}


