*{
    margin: 0;
    padding: 0;
}
.review-img{
    background-image: url(./../Contact//img/img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:140vh;
    position: relative;
    margin-bottom: 250px;
}
.reviewss-heading{
    margin-top: 20px;
    /* text-align: center; */
    color: red;
    margin-left: 217px;
    /* border: 1px solid green;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 20px; */
}
.reviews-show-container{
    background-color: rgb(208, 204, 204);
    height: 450px;
    width: 700px;
   opacity: 0.9;
   display: flex;
   flex-direction: row;
}


.added-review-container{
    /* background-color: rgb(208, 204, 204); */
    background-color: rgb(208, 204, 204);
    color: black;
    margin-top: 30px;
    height: 280px;
    width: 900px;
    margin-top: 40px;
   opacity: 0.9;
}
.rating-view{
    background-color: rgb(208, 204, 204);
    height: 450px;
    width: 800px;
    position: absolute;
    bottom: 30px;
    color: black;
   left: 400px;
   opacity: 0.9;
}
.text-center-show-review{
    text-align: center;
    margin: 8px;
    /* background-color: goldenrod; */
    position: relative;
    margin-left:30x;
/* margin-top: 50px;    */
/* border-bottom: 4px double black; */
}
.mapping-reviws{
    display: block;
    margin-top: 40px;
}
.main-h{
 top: 30px;
}
.flex-contsiner-review{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.add-task-form-contaienr{
    display: flex;
    flex-direction: row;
}
.task-input{
    text-align: center;
    width: 230px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    margin-left: 48px;
}
.nameratecls{
    margin-top: 15px;
}
.btn-add-review-list{
background-color: #ff5a56;
color: white;
border-radius: 30px;
padding: 10px;
padding-left: 40px;
padding-right: 40px;
border:none;
display: block;
margin: 35px auto;
}
.btn-add-review-list:hover{
    /* background-color: #ff5a56; */
    color: white;
    border-radius: 30px;
    border: 2px solid  #ff5a56;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border:none;
    display: block;
    margin: 35px auto;
    }
/* .bg-img2-reviewpg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
        url(./img//reviewbg-img.jpg);
    opacity: 10;
    background-size: cover;
    height: 100vh;
} */
.progress-bar-review-container{
    height: 200px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
    justify-content:space-evenly;
    /* padding-left: 530px; */
}
.progress-bar-review{
    height: 80px;
    width: 180px;
    background-color:rgb(246, 224, 197);
    /* background-color:rgb(244, 244, 177); */
    padding: 10px;
    border-radius: 20px;
    padding-top: 15px;
    margin-top: 10px;
    margin-left: -450px;
    
}