.input-type {
    margin: 12px 5% ;
     width: 85%;
     padding: 10px;
     border-radius:5px ;
     height: 42px;
 }
 .btn-deliver {
     background-color: rgb(23, 168, 23);
     color: white;
     border: none;
     margin: 5px auto;
     width: 55%;
     padding: 8px 12px;
      border-radius:5px ;
 }
 .modal-body {
     padding: 20px;
 }
 .modal-title {
  margin-left: 35%;
     font-size: 33px;
 
 }
 .button1{
     background-color: red;
 }