.social-icon i {
    margin: 14px;
    font-size: 33px;
    color: black;
    transition: 1s;
}
.social-icon i:hover {
cursor: pointer;
color: rgb(37, 37, 172);
}
.card {
    padding: 9px;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 5px 2px gray;
    transition: 1s;
}
.card:hover {
    transform: scale(1.04);
    box-shadow: 2px 2px 5px 1px rgb(154, 243, 154);
}
.our-img {
    height: 300px;
    
}

.tag {
    color: rgb(10, 162, 10);
    font-size: 24px;
}