.preview-post-card{

 /* box-shadow: 0 2px 20px 0 rgb(175, 171, 171);   */
 border: 1px solid rgb(32, 31, 31);
 display:block;
 margin: 30px;
 width: 320px;
 height: 400px;
 padding: 20px;
 /* border-radius: 10px; */
 background-color: white;
 cursor: pointer;
 text-align: center;
}
.title-card{
    color: #5aa33a;
    margin-top: 20px;
}
.price-card{
    color: #ff5a56;
}

.image-card{
    height: 270px;
    width: 270px;
    margin-top: -18px;margin-bottom: -15%;
}
.pric{
    display: inline-block;
    margin-left: 10px;
    margin-top: -10px;
}
.button{
    text-decoration: none;
    background-color: #ff5a56;
    padding:5px 17px;
    color: white;
    margin: 10px;
    width: 200px;
    
}
.view{
    background-color: #5aa33a;
    border: 2px solid #5aa33a;
}
.view:hover{
    color: #5aa33a;
    background-color: white;
}
.buy-now{
    background-color: #ff5a56;
    border: 2px solid #ff5a56;
}
.buy-now:hover{
    color: #ff5a56;
    background-color: white;
}

/* sdfghjkl;';lkjhgf */

.task-container{
    max-width: 300px;
    background-color: white;
    margin:20px 10px;
    padding:10px 30px;
    border-radius: 10px;
    width: 500px;
    border: 1px solid rgb(207, 57, 57);
    position: relative;
    box-shadow:  0 0.5px 20px 0 rgb(201, 199, 199);
}
.task-title{
    margin: 0;
}
 .task-description{
    margin: 0;
 }
 .task-priority{
    margin: 0;
    position: absolute;
    right: 0;
    top:0;
    background-color: rgb(254, 230, 152);
    border-radius:0   10px 0 0;
    padding: 3px;
    width: 70px;
    text-align: center;
 }
 .btn-card{
    padding: 5px;
    width: 100px;
    margin: 10px 5px;
    background-color: #f55c34;
    border: 2px solid #f55c34;
    border-radius: 5px;
    color: white;
    cursor: pointer;
 }
 .card-delet{
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
 }
 .btn-card:hover{
   background-color: white;
   color: #f55c34;
 }
 .card-edit-icon{
   position: absolute;
   bottom: 5px;
    right: 40px;
    cursor: pointer;
 }