.about-container {  
    background-image:  
     url(./vegetablesImg.jpg) ;
     background-size: cover; 
    height: 100vh;
}

.main-heading {
    /* text-align: center; */
    font-weight: bold;
    color: red;
    position: relative;
    top: 20%;
    left: 10%;
    font-size: 50px;
    letter-spacing:3px;
}

@media screen and ((min-width:678px) and (max-width: 991px)) {
    .main-heading {
font-size: 40px;
    }

}

    @media screen and ((min-width:100px) and (max-width: 679px)) {
    .main-heading {
  font-size: 33px;
    }
}

.main-heading:hover {
    color: rgb(32, 207, 32);
 
}

.set-margin {
    margin: 70px 60px;

}